body {
    background-color: rgb(206, 149, 149);
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

h1 {
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(98, 175, 156);
    color: rgb(253, 253, 253);
}

h2 {
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(241, 223, 141);
    color: rgb(0, 0, 0);
   
}

button {
    cursor:pointer;
    background-color: rgb(214, 243, 132);
    border:none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 20px 0px;
    
}

label {
    padding: 30px;
    text-align:center;
    color: rgb(0, 0, 0);
    
    
}